extends ../layout

block head
  title #{game.name} 外掛
  meta(name="keywords" content=`${game.name}外掛`)
  meta(name="description" content=`${game.name}外掛_免費下載試用全功能破解版本,${game.name}外掛包括:功能包括：攻擊流暢、全自動副本刷怪、優化CPU、喝水、不LAG、定點、換點打怪、撿物、追怪、躲怪、智能AI。安全不被偵測！世界殺毒網安全認證下載，絕無木馬病毒，${game.name}外掛長期更新免費下載試用`)

block navContent
  a#logo-container.brand-logo(href='#') #{game.name} 外掛免費下載

block bodyContent
  .container
    h1.center-align 熱門遊戲 #{game.name} 外掛
